body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
  }
  
  .js-nav {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 2em;
  }
  
  .header-Image{
    /* Wave Color */
    background: #59adeb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    /* End Wave Color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .about-Image {
    background: #59adeb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #598ceb 0%, #4284c2 52%, #344bce 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #598ceb 0%, #4284c2 52%, #344bce 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #598ceb 0%, #4284c2 52%, #344bce 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#598ceb', endColorstr='#344bce', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    /* End Wave Color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;


  }
  .resume-Image{
    background: #9573b1;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9573b1 0%, #5952c2 52%, #6148a7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #9573b1 0%, #5952c2  52%, #6148a7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #9573b1 0%, #5952c2  52%, #6148a7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9573b1', endColorstr='#6148a7', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    /* End Wave Color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;


 }
  
  header {
     border: 200px;
     padding: 115px;
     
  }

  
  .header-Text {
    color: #fff;
    font-weight: 200;
    line-height: 48px;
    margin-bottom: -5px;
    font-size: 32px;
  }
  
  .header-Subtitle {
    color: #fff;
    font-size: 21px;
    font-weight: 200;
    line-height: 28px;
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    transition: opacity 300ms linear;
    padding-bottom: 2em;
  }
  
  
  /* Buttons */
  
  .Button {
    -webkit-appearance: none;
    background: transparent;
    border-color: currentcolor;
    border-style: solid;
    border-width: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: .4em .75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
  }
  
  .button-Container {
    color: #fff;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: right;
    width: 95%;
  }
  
  .button-Container .Button {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 35px;
  }
  
  .button-Container .Button.StreamsLogin {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
  }
  
  .button-Container .Button:hover,
  .button-Container .Button:focus {
    background: #fff;
    color: #1da1f2;
  }
  
  body {
      color: black;
  }
  .card {
    

    
    margin-left: 325px; 
    width: 15%; 
    padding: 50px;
     
 
    }
    .card-img-top {
        width: 135px; 
        height: 200px;
    }

    
  
   


    @media only screen and (max-width: 736px) {
        /* phones */

        .card {
            margin-left: 10px;
            width: 15%; 
            padding: 50px;
        }

        .card-img-top {
            width: 95px;
            height:150px;
            margin-left: 75px;

        }

        .card-title {
            margin-left: 80px;
            font-size: 15px;
        }
        .card-text {
            font-size: 15px;
            margin-left: 60px;
            margin-right:5px; 
            margin-top: 25px;
            
        }
        .card-block{
            margin-left: 55px;
        }

     

       
    }

   
    
    
    .navbar{
        display: block;
        margin: auto;
        
        
        text-align: center;
        
        

    }
    .navbar-nav {
        display: inline-block;
        margin: auto;
        text-align: center;
        color: white;
    }

.navbar-nav li {
    display: inline-block;
    margin: auto;
    text-align: center;
    

}



    footer{
        margin: auto;
        top: 0;
        bottom: 0;
    }

  .footer-Image{
    /* Wave Color */
    background: #59adeb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    /* End Wave Color */
    position: absolute;
    width: 100%;
    text-align: center;
    
    
  }

  .about-Footer {
     /* Wave Color */
     background: #598ceb;
     /* Old browsers */
     background: -moz-linear-gradient(-45deg, );
     /* FF3.6-15 */
     background: -webkit-linear-gradient(-45deg, #598ceb 0%, #4284c2 52%, #344bce 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(135deg, #598ceb 0%, #4284c2 52%, #344bce 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#598ceb', endColorstr='#344bce', GradientType=1);
     /* IE6-9 fallback on horizontal gradient */
     background-size: 350% 350%;
     animation: waveColors 8s ease infinite;
     /* End Wave Color */
     position: absolute;
     width: 100%;
     text-align: center;
     margin-top: 75px;
     
  }

  .resume-Footer {
    /* Wave Color */
     background: #9573b1;
     /* Old browsers */
     background: -moz-linear-gradient(-45deg, );
     /* FF3.6-15 */
     background: -webkit-linear-gradient(-45deg,#9573b1 0%, #5952c2 52%, #6148a7 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(135deg, #9573b1 0%, #5952c2 52%, #6148a7 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9573b1', endColorstr='#6148a7', GradientType=1);
     /* IE6-9 fallback on horizontal gradient */
     background-size: 350% 350%;
     animation: waveColors 8s ease infinite;
     /* End Wave Color */
     position: absolute;
     width: 100%;
     text-align: center;
     margin-top: 75px;
     
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 0;
    
  

  }

  .navbar-nav li {
    padding-right: 20px; 
    float: none;
    display: inline-block;
     
     
  }

  .navbar-nav li a {
      color: white;
  }
  .navbar-nav li a.active {
      text-decoration: underline;
   
    
}


  .nav navbar-nav {
        /* Wave Color */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59adeb+0,42c2b5+52,34ce93+100 */
    background: #59adeb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    /* End Wave Color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    

  }
 
 
  
  
  /* Animation Wave Color */
  
  @-webkit-keyframes waveColors {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  
  @keyframes waveColors {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }